#logo_bio_nav
  %h2
    Hi, I'm Mathias Peltier, a web developer living in France. I write about web development, design & software.
  = haml :categories, :layout => false
  = haml :feed, :layout => false