#logo_bio_nav
  %a{:id => "polar_bear", :href => "/"}
  #bio
    Hi, I'm Mathias Peltier, a web developer living in France.
  = haml :categories, :layout => false
  = haml :link_friends, :layout => false
  = haml :feed, :layout => false