%nav#friends_site
  Friends site
  %ul.menu
    %li
      %a{:href => "http://www.decaps.fr", :target => "_blank"}
        Decaps' Crypt
    %li
      %a{:href => "http://www.bugz.fr", :target => "_blank"}
        Bugz
    %li
      %a{:href => "http://www.xumi.fr", :target => "_blank"}
        Xumi