@import "colors.sass" 
@import "mixins.sass"

$border-style: 1px dashed $border-color

*
  margin: 0
  padding: 0

body
  background: $bg-color
  color: $base-color
  font: ($base-font * 1.05) Georgia, serif
  line-height: $vertical-rhythm
  text-shadow: 0 1px 0 #FFFFFF


h1, h2, h3, h4, h5, h6
  font-family: "helvetica neue"
h1
  @include adjust-font-size($h1-scale, 0.6, 0.4)
  font-weight: bold
h2
  @include adjust-font-size($h2-scale, 1.5, 0.5)
  font-weight: normal
h3
  @include adjust-font-size($h3-scale, 1.5, 0.5)
  font-weight: normal
h4
  @include adjust-font-size($h4-scale, 2, 0)

ol,
p,
pre,
ul
  margin: 0
  margin-bottom: $base-vertical-margin

li
  @include adjust-font-size(1, 0, 0)

blockquote
  margin: $base-vertical-margin 0
  padding: 0 $base-vertical-margin

  font-style: italic
  color: $base-color + #555

pre
  padding: ($vertical-rhythm / 2) 1em
  overflow: auto

img
  border: none
  
ul li
  list-style: none

ol li
  list-style: none

a
  color: #5E9092
  text-decoration: none

a:hover
  color: #96C0C2

/**** BREADCRUMB ****/

nav.breadcrumb
  color: $base-color
  padding: 0.5em 0
  font-size: 0.909em

/**** LEFT COLUMN ****/

#logo_bio_nav
  float: left
  position:  fixed
  width: 38%
  height: 100%
  border-right: 1px solid #9BB6B8
  background: $bg-left-color
  text-align: center
  
  h2
    font-family: Georgia, serif
    margin: 5% 0
    
  .feed, .categories
    text-align: left
    margin-left: 50%
    
    ul
      margin-left: 30px
    
    a
      color: #4E7779
    
    a:hover
      color: #6C9D9F

/**** LAYOUT ****/
article, aside, footer, header, nav, section
  display: block

#pages_breadcrumb
  padding-left: 42%
  padding-right: 15%
  
  nav.breadcrumb
    ul
      margin: 0
    li
      display: inline
      list-style: none
      &::after
        content: " > "
      &:last-child::after
        content: ""
        
article
  img
    max-width: 100%
    margin-bottom: $base-vertical-margin

  code,
  pre
    background-color: $tint
  code
    padding: 1px 3px
  pre
    border-left: $border-style
    background-color: $tint
    code
      padding: 0

  footer
    border-top: $border-style
    p.meta
      @include adjust-font-size(0.909, 0.1, 1.9)
      font-style: italic
      color: $meta-color

// Pages of content
article[role="main"]
  div#disqus_thread
    img
      max-width: none
    ul#dsq-comments
      margin-left: 0

// Pages/articles assigned to this page
section.pages,
section.articles
  & > ol
    margin-left: 0
    li
      position: relative
      list-style: none
    article
      ol li
        list-style: decimal
      ul li
        list-style: disc

  header[role=main] h1
    @include adjust-font-size($h1-scale, 1.5, 0.5)
  header h1
    @include adjust-font-size($h2-scale, 1.5, 0.5)

  article
    p.read_more
      @include adjust-font-size(1, 0, 0)
      margin-top: -$base-vertical-margin
    footer
      border-top: none

nav.categories
  h1
    @include adjust-font-size(1.3, 2.3, 0)

  ul.menu
    list-style: none
    ul
      list-style: disc
      margin: 0 0 0 1.25em
    & > ul
      @include adjust-font-size(0.909, 0, 0)